@charset "UTF-8";

#wrap {
	width:1200px;
	width:auto;
}

header > .logo {
	width:200px;
	height:100px;
}

header > .serch {
	width:1200px;
	height:100px;
}
.main-menu {
	height:40px;
}


footer {
	height:60px;
}